@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    overflow-x: hidden;
}
header{
    background: #26272b;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    .header{
        width: 70vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brandname{
        cursor: pointer;
     letter-spacing: 2px;
     transform: scaleY(0.9);
     font-weight: bolder;
     
    }
    .brandname::first-letter{
     color: #6900ff;
     
    }
    div button{
        cursor: pointer;
        background: inherit;
        color: inherit;
        border:none;
        font-size:1.1rem;
        font-weight:600;
    }
}
