@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    overflow-x: hidden;
}
header{
    .user-container{
        display: flex;
        align-items: center;
    }
  
    .buttons{
        display: flex;
        justify-content: center;
        
        gap: 10px;
        align-items: center;
        button{
            display: flex;
            gap: 5px;
            align-items: center;
        }
    }
    background: #26272b;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    .header{
        width: 90vw;
        max-width: 1000px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brandname{
        cursor: pointer;
     letter-spacing: 2px;
     transform: scaleY(0.9);
     font-weight: bolder;
     
    }
    .brandname::first-letter{
     color: #6900ff;
     
    }
    div button{
        cursor: pointer;
        background: inherit;
        color: inherit;
        border:none;
        font-size:1.1rem;
        font-weight:600;
    }
    .container-username{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    @media only screen and (max-width: 600px) {
   
        .header{
            width: 90vw;
            max-width: 1000px;
            height: 50px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
      }
}
.modal-container{
    display: flex;
    flex-direction: column;
    
    button{
        
        background: #26272b;
        padding: 5px;
        font-weight: bolder;
        border-radius: 5px;
        letter-spacing: 1px;
        width: 80%;
        margin: 0 auto;
        color: white;
        margin-top: 15px;
        cursor: pointer;
    }
    span{
        margin: 0 auto;
    }
    
}
